<!DOCTYPE html>
<html>

<head>
  <!-- <%= version %> -->
  <meta charset="utf-8">
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet' type='text/css' id='jqueryui-stylesheet'>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/player-styles.css">
  <% if (features['coyote']) { %>
  <link rel="stylesheet" href="/css/coyote.css">
  <% } %>
  <link rel="stylesheet" href="" id='darkmode-stylesheet'>

  <script type="text/javascript">
    <% Object.keys(features).forEach(function(key) { %>
      const feature_<%= key %> = <%= features[key] %>;
    <% }) %>
    const camUrlList = <%- JSON.stringify(camUrlList) || '[]' %>;
  </script>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js" type="application/javascript"></script>
  <script src="/js/p5.min.js"></script>
  <script src="/js/addons/p5.dom.min.js"></script>
  <script src="/js/addons/p5.sound.min.js"></script>
  <script src="/js/visualization.lissajous.js"></script>
  <script src="/js/visualization.spectrum.js"></script>
  <script src="/js/visualization.vumeter.js"></script>
  <script src="/js/visualization.vugauges.js"></script>
  <script src="/js/visualization.waveform.js"></script>
  <script src="/js/sketch.js"></script>
  <script src="/js/themes.js"></script>
  <script src="/js/promode.js"></script>

  <title>e l e c t r o n</title>
</head>

<body>
  <button onclick="toggleTheme()" id="theme-toggler">Toggle Theme</button>
  <div style="position:absolute;top:0;right:0;display:flex;gap:5px;">
    <% if (features['coyote']) { %>
      <button onclick="enableCoyoteBT()" id="coyote-toggler" title="Enable Web Bluetooth connection to Coyote devices">Enable Coyote BT</button>
    <% } %>
    <% if (features['promode']) { %>
      <button onclick="togglePromode()" id="promode-toggler" title="Pro Mode adds additional features useful for SS4 compatibility">Toggle Pro Mode</button>
    <% } %>
  </div>
  <h1 class="electron-title"><a href="/">electron</a></h1>

  <div id="status-message">
    Welcome to electron! You are currently playing in «solo mode».
    <p class='lastBottle'></p>
  </div>

  <div id="ride-info" style="display:none;">
    <h3>Ride Info</h3>
    <p id='driver-nametag'>
      Your driver's name is 
      <% if (automatedSession) { %>
        &#x1F916;&nbsp;
      <% } %>
      <span class="nametag">
        <%= flags['driverName'] %>
      </span>
    </p>
    <div id='file-playing-blindfold'>
      <p id='file-playing' style='display:none;'>
        Currently playing a recorded session:
        <br/>
        <span class='file-playing-info'></span>
        <span class='file-driver-info'></span>
      </p>
    </div>
    <p id='cam-url'>
      This is where riders are camming:
      <br/>
      <span class='cam-url-link'>
        <a target="_blank" href=""></a>
      </span>
      <br/>
      <span class='cam-url-warning' style='display:none'><b>WARNING:</b> Use your judgement before clicking.<br/>If the cam link looks sketchy and you don't know your driver, don't click on it.</span>
    </p>
    <p id='comments' style="<%= flags['driverComments'] ? '' : 'display:none;' %>">
      Session info from driver:
      <br/>
      <span class='message'><%= flags['driverComments'] %></span>
    </p>
    <p class='lastBottle'></p>
  </div>

  <div style="display:none;" id="drive-info">
    <div id="rider-count">
      Number of connected riders: <strong id="rider-count-number">0</strong>
      <div class="traffic-bar-container">
        <div class="traffic-bar none"></div>
        <div class="traffic-bar green"></div>
        <div class="traffic-bar yellow"></div>
        <div class="traffic-bar red"></div>
      </div>
    </div>
    <div class="controls-container">
      <div class="fields">
        <div class="field">
          <label for="driver-name">Your name for the session:</label>
          <input type="text" maxlength="20" id="driver-name" value="<%= flags['driverName'] %>"/>
          <button class="set-settings">Set</button>
        </div>
        <div class="field">
          <label for="driver-cam-url">Room for camming:</label>
          <% if (!camUrlList || camUrlList.length == 0) { %>
            <input type="text" maxlength="100" id="driver-cam-url" placeholder="https://"/>
          <% } else { %>
            <select id="driver-cam-url" required>
              <% camUrlList.forEach(function(item) { %>
                <option <%= item.default ? 'selected="selected"' : ''%>><%= item.name %></option>
              <% }); %>
            </select>
          <% } %>
          <button class="set-settings">Set</button>
        </div>
        <div class="field">
          <label for="driver-comments">Session info for riders:</label>
          <input type="text" maxlength="100" id="driver-comments" placeholder="What kind of drive?  Pain tools used?"/>
          <button class="set-settings">Set</button>
        </div>
      </div>
      <div class="toggles">
        <input type="checkbox" id="public-session" title="Check box to show this session on the public list" />
        <label for="public-session">Public Session</label>
        <br/>
        <input type="checkbox" id="blindfold-riders" title="Check box to hide controls on riders' screens and only show the graphs." />
        <label for="blindfold-riders">Blindfold Riders (hide controls)</label>
        <br/>
        <label for="bottle-duration">Seconds to show:</label>
        <input type="range" id="bottle-duration" min="1" max="10" step="1" value="5"/>
        <span id="bottle-duration-val">5</span>
        <button id="trigger-bottle-prompt" class="small roundy-btn">Bottle Prompt</button>
        <div style="display:inline-block;width:1em">
          <span class="bottle-countdown"><span class='seconds'></span></span>
        </div>
        <span style='vertical-align:bottom'>&nbsp;&nbsp;Last:&nbsp;</span><span class="lastBottleTime" style='vertical-align:bottom'>none</span>
      </div>
    </div>
  </div>

  <% if (features['coyote']) { %>
  <%- include('coyote-panel.ejs'); %>
  <% } %>

  <div style="display:none;" id="initialize-audio">
    <a href="#">Click here to start audio output for this session</a>
  </div>

  <div class='save-load-bar' style='display: none'>
    <div class='slb-left'>
      <div id='save-script-container' class='show-not-playing'>
        <button id="save-session-messages" class="roundy-btn" style='display: none'>Save Session Script</button>
      </div>
    </div>

    <div class='slb-middle'>
			<div class="player-container show-playing" style='display: none'>
        <button id="playPauseButton" class="player-button"></button>
        <div class="progress-container">
            <div id="progressBar" class="progress-bar"></div>
            <div id="progressHandle" class="progress-handle"></div>
        </div>
        <div class="time-display">
            <span id="time-info"</span>
        </div>
        <button id="cancel-script" class="player-button" title='Cancel'></button>
			</div>

      <div id='clear-steps-container' class='show-not-playing'>
        <button id='clear-steps' class="roundy-btn">Clear Steps</button>
        <div id='clear-steps-help' class='circle-icon'>?</div>
      </div>
    </div>

    <div class='slb-right'>
      <div class='load-file-picker-container'>
          <input type="file" id="load-file-picker" accept="application/json<%= features['promode'] ? ',.SmrtStm4' : '' %>" />
        <span id="load-session">Load Session Script</span>
      </div>
      <div class='analyze-script-link'>
        <a href="/analyze/" target="_blank" class='roundy-btn'>Analyze JSON Script <img src='/external-link-icon.png' style='vertical-align: sub'/></a>
      </div>
    </div>
    <div id="messages-target"></div>
  </div>

  <div id="main-container">

    <% if (playlistSession) { %>
      <div class="traffic-light" id="traffic-light" style="display: none;"></div>
    <% } else { %>
      <div class="traffic-light" id="traffic-light" style="display: none;">
        <div class="traffic-light-explanation">
          <p>Use this tool to indicate the driver how you are feeling.</p>
          <ul>
            <li>GREEN means you are enjoying yourself.</li>
            <li>YELLOW means you are getting close to your limits / need a break.</li>
            <li>RED means you need the power to be dialed down / stop.</li>
          </ul>
        </div>
        <div class="traffic-light-container">
          <button class="green" title="Green" data-traffic-light="G"></button>
          <button class="yellow" title="Yellow" data-traffic-light="Y"></button>
          <button class="red" title="Red" data-traffic-light="R"></button>
        </div>
      </div>
    <% } %>

    <div id="controls">
      <div id="left-channel-column" class="channel-column">
        <div class="color-header">
          <h2>Left Channel</h2>
          <button class="stop-btn">STOP [Esc]</button>
          <div style="clear:both;"></div>
        </div>
        <%- include('channel-controls.ejs'); %>
      </div>

      <div id="right-channel-column" class="channel-column">
        <div class="color-header">
          <h2>Right Channel</h2>
          <button class="stop-btn">STOP [Esc]</button>
          <div style="clear:both;"></div>
        </div>
        <%- include('channel-controls.ejs'); %>
      </div>
    </div>
    <div id="nocontrols" style="display:none">
      The driver has blindfolded you.  Controls hidden.
    </div>


    <div style="clear:both"></div>
  </div>

  <div id="sketch-holder-wrapper">
    <div class="tab">
      <button class="tablinks active" onclick="selectVisualization(event, 'Waveform')">Waveform</button>
      <button class="tablinks" onclick="selectVisualization(event, 'VU Meter')">VU Meter</button>
      <button class="tablinks" onclick="selectVisualization(event, 'VU Gauges')">VU Gauges</button>
      <button class="tablinks" onclick="selectVisualization(event, 'Spectrum')">Spectrum</button>
      <button class="tablinks" onclick="selectVisualization(event, 'Lissajous')">Lissajous</button>
    </div>

    <div id="Waveform" class="tabcontent"></div>
    <div id="VU Meter" class="tabcontent"></div>
    <div id="VU Gauges" class="tabcontent"></div>
    <div id="Spectrum" class="tabcontent"></div>
    <div id="Lissajous" class="tabcontent"></div>

    <div id="sketch-holder"></div>
    <div class="lastBottle"></div>
  </div>

  <div class='version-info'>Version: <%= version %></div>

  <div id="pain-dialog" title="Pain Tool">
    <div class="warning-text">
      The Pain Tool allows you to interrupt the signal that is currently being played
      on this channel temporarily, in order to administer sharp shocks.
      After completing the specified number of shocks, the signal that was playing
      previously will automatically resume.
    </div>
    <div class="warning-text">
      <strong>Please use this tool responsibly! </strong>
    </div>
    <div>

      <div class="form-row">
        <label>Shock Volume</label>
        <input name="pain-volume" value="60" class="spinner-volume"> %
      </div>
      <div class="form-row">
        <label>Shock Frequency</label>
        <input name="pain-frequency" value="1600" class="spinner-frequency"> Hz.
      </div>
      <div class="form-row">
        <label>Number of Shocks</label>
        <input name="pain-number" value="5" class="spinner-volume">
      </div>
      <div class="form-row">
        <label>Shock Duration</label>
        <input name="pain-duration" value="0.05" class="spinner-change-rate"> sec.
      </div>
      <div class="form-row">
        <label>Time Between Shocks</label>
        <input name="pain-time-between" value="0.3" class="spinner-change-rate"> sec.
      </div>
    </div>
  </div>

  <div id="rider-bottle-countdown-container">
    <div id="rider-bottle-countdown" style="display:none">
      <img class="bottle" src="/<%= bottleImage %>"/>
      <div class="bottle-countdown" style="display:none">
        <span class="seconds"></span>
      </div>
    </div>
  </div>

  <div id="clear-steps-help-dialog" style="display:none">
    <p>
      The <i>Clear Steps</i> button will erase the history of actions taken so far
      in this session.  If you clear steps, any actions taken previously in this session will
      <b>not</b> be part of any saved session script.  This includes whatever signal is <b>currently
      playing</b>.  Once you clear steps, you should re-apply your left and right channels even if
      you don't change their values.
    </p>
  </div>

  <script src="/js/config.js"></script>
  <script src="/js/electron.js"></script>
  <script src="/js/communication.js"></script>
  <script src="/js/trafficlight.js"></script>
  <% if (features['coyote']) { %>
  <script src="/js/coyote-protocol.js"></script>
  <script src="/js/coyote.js"></script>
  <script src="/js/coyote-ui.js"></script>
  <% } %>
</body>
</html>
